ultralytics==8.3.161
streamlit==1.45.1
opencv-python-headless==4.11.0.86
numpy==2.1.3
pandas==2.2.3
Pillow==11.2.1
matplotlib==3.10.3
pyyaml==6.0.2
torch==2.2.0 --index-url https://download.pytorch.org/whl/cpu
torchvision==0.17.0 --index-url https://download.pytorch.org/whl/cpu
